* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header,
.hero-container,
.information-container,
.quote-container,
.call-to-action-container {
  max-width: 1100px;
  flex: auto;
  margin: 0 50px;
}

a {
  text-decoration: none;
}

/***************
  Header
****************/

.header-section {
  display: flex;
  justify-content: center;
  background-color: #261721;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FFF6F8;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header a {
  font-size: 18px;
  color: #FFE3ED;
}

p {
  margin: 0;
}

/***************
  Hero Section
****************/

.hero-section {
  background-color: #190413;
  color: #FFF6F8;
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  padding: 100px 0;
  gap: 50px;
}

.left-hero-content {
  flex: 2 1 0;
}

.hero-title {
  margin: 0;
  font-size: 48px;
}

.hero-text {
  margin: 0;
  font-size: 18px;
  color: #FFE3ED;
  margin-top: 8px;
  max-width: 450px;
}

.hero-text strong {
  color: #FA5C7E;
}

button {
  background-color: #FA5C7E;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 3px 3px #8B394B;
}

button:hover {
  background-color: #D64F6D;
}

.right-hero-content {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.right-hero-content img {
  max-height: 250px;
  width: auto;
  align-self: flex-end;
}

/**********************
  Information Section
***********************/

.information-section {
  text-align: center;
  padding: 50px 0px 100px;
  display: flex;
  justify-content: center;
  background-color: #FFF3F8;
}

.information-title {
  font-size: 36px;
  color: #261721;
  margin: 0;
}

h3 a {
  color: #FA5C7E;
  font-size: 20px;
  margin-bottom: 12px;
}

.cards-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-image {
  border: #EF5F89 3px solid;
  border-radius: 16px;
  width: 100%;
}

.information-card {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  margin-top: 16px;
  color: #C35E9C;
  height: 70px;
}

/****************
  Quote Section
*****************/

.quote-section {
  background-color: #77536A;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #FFE3ED;
  margin-left: 130px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.quote-source {
  margin: 0;
  align-self: flex-end;
  font-size: 24px;
  margin-right: 60px;
  color: #FFF6F8;
}

/************************
  Call to Action Section
*************************/

.call-to-action-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #FFF3F8;
}

.call-to-action {
  background-color: #FA5C7E;
  flex: 1;
  border-radius: 8px;
  padding: 50px 80px;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  gap: 80px;
}

.cta-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #FFF6F8;;
}

.cta-text {
  color: #FFE3ED;
  font-size: 18px;
}

.cta-message {
  color: #FFE3ED;
  font-size: 14px;
  margin-top: 2px;
}

.cta-button {
  border: #D64F6D 2px outset;
  margin: 0;
  padding: 10px 40px;
}

span {
  font-size: 12px;
}

/*********
  Footer
**********/

.footer {
  background-color: #261721;
  color: #FFE3ED;
  padding: 40px;
  text-align: center;
  font-size: 18px;
}

.footer a {
  text-decoration: underline;
  color: #FFF6F8;
}
